@font-face {
    font-family: "Arimo Bold";
    src: url(../fonts/Arimo-Bold.ttf);
}
@font-face {
    font-family: "Arimo Regular";
    src: url(../fonts/Arimo-Regular.ttf);
}

html, body {
    height: 100%; width: 100%; overflow: hidden;
}

body {
    font-family: Arimo Regular, Arial, sans-serif;
    font-size: 13px;
    background: #fff;
    background-image: url("../ui/wallpaper.jpg");
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    border: 0;
    color: #404040;
    -webkit-user-select: none
}

.card {
    overflow: hidden;
    padding: 40px;
    background-color: rgba(240,240,240,.8);
    margin: 125px auto 25px;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 274px;
    max-width: 90%;
}

@media all and (max-width: 800px) {
    .settings-card {
        width: 70%;
        max-width: 90%;
    }
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 40px;
    display: block;
    border-radius: 100%;
    background-image: url(../ui/avatar_2x.png);
    background-size: cover;
    background-position: 50%;
    background-color: transparent;
    border: 1px solid #c0c0c0;
    outline: none;
}

.action {
    cursor: pointer;
    float: left;
    margin-right: 20px;
}
